<?xml version="1.0"?>

<launch>

    <!-- Start nodelet manager and Realsense SR300 RBG-D nodelet -->
    <include file="$(find ras_camera)/launch/sr300_nodelet_rgbd.launch" />
    
    <!-- Start ros_camera nodelet. Will be in a the same process as the camera nodes and can therefore share memory with them.
        Will be in 'camera' namespace
    -->
    <node pkg="nodelet" type="nodelet" name="ras_camera" args="load ras_camera/Camera camera/camera_nodelet_manager" output="screen" />
    
</launch>
